<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Edit - Links</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <h1 style = "font-size: 20px; padding-left: 2%;"></h1>
        <div class="container-fluid" style = "padding-left: 2%; padding-top: 2%; border-bottom-left-radius: 1%; background-blend-mode: darken;">
      <form action="/updatequestions" method="post">
                <fieldset>
                    Name of Button1: <input type="text" name="Btn1" size="50" value={{.Btn1}}><br><br>
                    Link of Button1: <input type="text" name="Link1" size="50" value={{.Link1}}><br><br>
                </fieldset>
                <fieldset>
                    Name of Button2: <input type="text" name="Btn2"  size="50" value={{.Btn2}}><br><br>
                    Link of Button2: <input type="text" name="Link2" size="50" value={{.Link2}}><br><br>
                </fieldset>
                <fieldset>
                    Name of Button3: <input type="text" name="Btn3"  size="50" value={{.Btn3}}><br><br>
                    Link of Button3: <input type="text" name="Link3" size="50" value={{.Link3}}><br><br>
                </fieldset>
                <fieldset>
                    Name of Button4: <input type="text" name="Btn4" size="50" value={{.Btn4}}><br><br>
                    Link of Button4: <input type="text" name="Link4" size="50" value={{.Link4}}><br><br>
                </fieldset>
                <fieldset>
                    Name of Button5: <input type="text" name="Btn5" size="50" value={{.Btn5}}><br><br>
                    Link of Button5: <input type="text" name="Link5" size="50" value={{.Link5}}><br><br>
                </fieldset>
                <input type="submit" name="Submit" value="submit";>
            </form>
    </div>
    </body>
</html>